parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:setUserState\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: administrator/components/com_breezingformsng/src/Controller/AboutController.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/PiecesController.php

		-
			message: '#^Call to method synchElements\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Service\\FormSupportService\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Call to static method getForm\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Helper\\FormSourceFactory\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Instantiated class CB\\Component\\Contentbuilderng\\Administrator\\Service\\FormSupportService not found\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Instantiated class CB\\Component\\Contentbuilderng\\Administrator\\Service\\PathService not found\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Instantiated class CB\\Component\\Contentbuilderng\\Administrator\\Service\\TemplateSampleService not found\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/ScriptsController.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Helper/QuickmodeHtml.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Table\\Table\:\:setLocation\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Model/MenuModel.php

		-
			message: '#^Method Joomla\\CMS\\Table\\Table\:\:delete\(\) invoked with 2 parameters, 0\-1 required\.$#'
			identifier: arguments.count
			count: 1
			path: administrator/components/com_breezingformsng/src/Model/MenuModel.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\MVC\\Model\\ModelInterface\:\:delete\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Model/RecordModel.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\MVC\\Model\\ModelInterface\:\:getError\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Model/RecordModel.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/View/BreezingformsNG/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/View/Integrator/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Extension\\ComponentInterface\:\:getMVCFactory\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/View/Integrator/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: administrator/components/com_breezingformsng/src/View/Pieces/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getSession\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/View/Pieces/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: administrator/components/com_breezingformsng/src/View/Pieces/Renderer.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/View/Quickmode/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Extension\\ComponentInterface\:\:getMVCFactory\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: administrator/components/com_breezingformsng/src/View/Quickmode/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Toolbar\\ToolbarButton\:\:toggleSplit\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: administrator/components/com_breezingformsng/src/View/Records/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: administrator/components/com_breezingformsng/src/View/Scripts/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getSession\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/View/Scripts/HtmlView.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: administrator/components/com_breezingformsng/src/View/Scripts/Renderer.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/tmpl/forms/edit.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/tmpl/menus/edit.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Application\\CMSApplicationInterface\:\:getDocument\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: administrator/components/com_breezingformsng/tmpl/quickmode/editor.php

		-
			message: '#^Function bf_b64dec not found\.$#'
			identifier: function.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Callback/FlashUploadCallback.php

		-
			message: '#^Method Joomla\\Session\\SessionInterface\:\:get\(\) invoked with 3 parameters, 1\-2 required\.$#'
			identifier: arguments.count
			count: 1
			path: components/com_breezingformsng/src/Service/Callback/FlashUploadCallback.php

		-
			message: '#^Method Joomla\\Session\\SessionInterface\:\:set\(\) invoked with 3 parameters, 1\-2 required\.$#'
			identifier: arguments.count
			count: 1
			path: components/com_breezingformsng/src/Service/Callback/FlashUploadCallback.php

		-
			message: '#^Access to an undefined property Joomla\\CMS\\Mail\\MailerInterface\:\:\$Body\.$#'
			identifier: property.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Callback/SofortCallback.php

		-
			message: '#^Access to an undefined property Joomla\\CMS\\Mail\\MailerInterface\:\:\$Subject\.$#'
			identifier: property.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Callback/SofortCallback.php

		-
			message: '#^Method Joomla\\Session\\SessionInterface\:\:clear\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: components/com_breezingformsng/src/Service/Callback/StripeCallback.php

		-
			message: '#^Call to static method createFromRuntimeContext\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Service\\ListSupportService\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Export/ExportEngine.php

		-
			message: '#^Class CB\\Component\\Contentbuilderng\\Administrator\\Service\\ArticleService not found\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Export/ExportEngine.php

		-
			message: '#^Constant _FF_RUNMODE_FRONTEND not found\.$#'
			identifier: constant.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/FormRenderer.php

		-
			message: '#^Constant _FF_RUNMODE_PREVIEW not found\.$#'
			identifier: constant.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/FormRenderer.php

		-
			message: '#^Call to static method getApplication\(\) on an unknown class Vcmb\\Component\\BreezingformsNG\\Site\\Service\\Integration\\Factory\.$#'
			identifier: class.notFound
			count: 3
			path: components/com_breezingformsng/src/Service/Integration/IntegratorRuntime.php

		-
			message: '#^Function bf_b64dec not found\.$#'
			identifier: function.notFound
			count: 2
			path: components/com_breezingformsng/src/Service/Notification/NotificationEngine.php

		-
			message: '#^Function bf_b64dec not found\.$#'
			identifier: function.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/QuickMode/BootstrapRenderer.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Editor\\Editor\:\:getContent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/QuickMode/ClassicRenderer.php

		-
			message: '#^Function bf_b64dec not found\.$#'
			identifier: function.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/QuickMode/ClassicRenderer.php

		-
			message: '#^Function bf_b64dec not found\.$#'
			identifier: function.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/QuickMode/OnePageRenderer.php

		-
			message: '#^Call to static method contentbuilderng_wordwrap\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Helper\\ContentbuilderngHelper\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Call to static method createFromRuntimeContext\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Service\\ListSupportService\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Call to static method createFromRuntimeContext\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Service\\PermissionService\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Call to static method getForm\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Helper\\FormSourceFactory\.$#'
			identifier: class.notFound
			count: 2
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Constant _FF_RUNMODE_BACKEND not found\.$#'
			identifier: constant.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Constant _FF_RUNMODE_FRONTEND not found\.$#'
			identifier: constant.notFound
			count: 2
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Function bf_b64dec not found\.$#'
			identifier: function.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Constant _FF_RUNMODE_PREVIEW not found\.$#'
			identifier: constant.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Scripting/ScriptingEngine.php

		-
			message: '#^Access to an undefined property HTML_facileFormsProcessor\:\:\$sfadata\.$#'
			identifier: property.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Submission/SubmissionEngine.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Mail\\MailerInterface\:\:isHtml\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Submission/SubmissionEngine.php

		-
			message: '#^Constant _FF_RUNMODE_BACKEND not found\.$#'
			identifier: constant.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Submission/SubmissionEngine.php

		-
			message: '#^Constant _FF_RUNMODE_FRONTEND not found\.$#'
			identifier: constant.notFound
			count: 2
			path: components/com_breezingformsng/src/Service/Submission/SubmissionEngine.php

		-
			message: '#^Function bf_b64dec not found\.$#'
			identifier: function.notFound
			count: 4
			path: components/com_breezingformsng/src/Service/Submission/SubmissionEngine.php

		-
			message: '#^Function bf_b64enc not found\.$#'
			identifier: function.notFound
			count: 3
			path: components/com_breezingformsng/src/Service/Submission/SubmissionEngine.php

		-
			message: '#^Constant _FACILEFORMS_PROCESS_UNKTYPE not found\.$#'
			identifier: constant.notFound
			count: 1
			path: components/com_breezingformsng/src/Support/processor_facade.php

		-
			message: '#^Constant _FF_RUNMODE_FRONTEND not found\.$#'
			identifier: constant.notFound
			count: 1
			path: components/com_breezingformsng/src/Support/processor_facade.php
