parameters:
	ignoreErrors:
		-
			message: '#^Call to method synchElements\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Service\\FormSupportService\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Call to static method getForm\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Helper\\FormSourceFactory\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Instantiated class CB\\Component\\Contentbuilderng\\Administrator\\Service\\FormSupportService not found\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Instantiated class CB\\Component\\Contentbuilderng\\Administrator\\Service\\PathService not found\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Instantiated class CB\\Component\\Contentbuilderng\\Administrator\\Service\\TemplateSampleService not found\.$#'
			identifier: class.notFound
			count: 1
			path: administrator/components/com_breezingformsng/src/Controller/QuickmodeController.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Toolbar\\ToolbarButton\:\:toggleSplit\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: administrator/components/com_breezingformsng/src/View/Records/HtmlView.php

		-
			message: '#^Call to static method createFromRuntimeContext\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Service\\ListSupportService\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Export/ExportEngine.php

		-
			message: '#^Class CB\\Component\\Contentbuilderng\\Administrator\\Service\\ArticleService not found\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Export/ExportEngine.php

		-
			message: '#^Call to static method contentbuilderng_wordwrap\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Helper\\ContentbuilderngHelper\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Call to static method createFromRuntimeContext\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Service\\ListSupportService\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Call to static method createFromRuntimeContext\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Service\\PermissionService\.$#'
			identifier: class.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Call to static method getForm\(\) on an unknown class CB\\Component\\Contentbuilderng\\Administrator\\Helper\\FormSourceFactory\.$#'
			identifier: class.notFound
			count: 2
			path: components/com_breezingformsng/src/Service/Rendering/RenderingEngine.php

		-
			message: '#^Call to an undefined method Joomla\\CMS\\Mail\\MailerInterface\:\:isHtml\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: components/com_breezingformsng/src/Service/Submission/SubmissionEngine.php
